@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  overflow-x: hidden;
}
.bg-hero {
  background-image: url("./assets/Hero.png");
}
.bg-newArrivals {
  background-image: url("./assets/newArrivles.jpg");
}
.bg-discount {
  background-image: url("./assets/discounts.jpeg");
}
