@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  overflow-x: hidden;
}
.bg-hero {
  background-image: url("./assets/Hero.png");
}
.bg-newarrivals {
  background-image: "url('./src/assets/newArrivles.jpg')";
}
.bg-discount {
  background-image: "url('./src/assets/discounts.jpeg')";
}
